@import url(/frontend/assets/styles/styles.css);

:root {
    --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62%,5;
}

body {
    font-family: var(--primary-font);
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    text-align: center;
}